<!DOCTYPE html>
<html lang="jp">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="https://unpkg.com/papercss@1.9.2/dist/paper.min.css">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Kiwi+Maru&display=swap" rel="stylesheet">
	<title>MemoBuddy</title>
	<style>
		.kiwi-maru-regular {
			font-family: "Kiwi Maru", serif;
			font-weight: 400;
			font-style: normal;
		}
		p, textarea {
			font-family: "Kiwi Maru";
			font-size: 16px;
		}
	</style>
</head>
<body>
{% block body %}
{% endblock %}
</body>
</html>
