{% extends 'base.html' %}
{% block body %}
<head>

</head>
<body>
	<div class="row  background-primary">
		<div class="sm-12 md-4 col sidebar">
			<div class="paper container margin-bottom-large">
				<h2>MemoBuddy</h2>
				<p>重要</p>
				<hr>
				<h5>[ラベル]</h5>
			  </div>
		</div>
		<div class="sm-12 md-8 col">
			<div class="paper container margin-bottom-large"></div>
			<div class="paper container margin-bottom-large">
				<div class="form-group">
					<label for="large-input">Large Input</label>
					<textarea id="large-input" placeholder="Large input"></textarea>
				  </div>
			</div>
		</div>
	</div>
</body>
{% endblock %}