{% extends 'base.html' %}
{% block body %}
<body>
	<div class="row  background-primary">
		<div class="sm-12 md-3 col sidebar">
			<div class="paper container margin-bottom-large" style="height: 100vh;">
				<h2>s4shop</h2>
				<input type="button" style="width:100%" class="paper-btn btn-primary-outline" value="GP1"/>
				<p></p>
				<input type="button" style="width:100%" class="paper-btn btn-primary-outline" value="GP2"/>
			</div>
		</div>
		<div class="sm-12 md-9 col">
			<div class="paper container margin-bottom-large">
				<div class="row">
					<div class="col-4 col">
						<div class="card">
							<img src="https://picsum.photos/768" alt="Card example image">
						  
							<div class="card-body">
							  <h4 class="card-title">My awesome Paper card!</h4>
							  <h5 class="card-subtitle">Nice looking subtitle.</h5>
							  <p class="card-text">Notice that the card width in this example have been set to 20rem, otherwise it will try to fill the current container/row where the card is.</p>
							  <button>Let me go here!</button>
							</div>
						  </div>
					</div>
					<div class="col-4 col">
						<div class="card">
							<img src="https://picsum.photos/768" alt="Card example image">
						  
							<div class="card-body">
							  <h4 class="card-title">My awesome Paper card!</h4>
							  <h5 class="card-subtitle">Nice looking subtitle.</h5>
							  <p class="card-text">Notice that the card width in this example have been set to 20rem, otherwise it will try to fill the current container/row where the card is.</p>
							  <button>Let me go here!</button>
							</div>
						  </div>
					</div>
					<div class="col-4 col">
						<div class="card">
							<img src="https://picsum.photos/768" alt="Card example image">
						  
							<div class="card-body">
							  <h4 class="card-title">My awesome Paper card!</h4>
							  <h5 class="card-subtitle">Nice looking subtitle.</h5>
							  <p class="card-text">Notice that the card width in this example have been set to 20rem, otherwise it will try to fill the current container/row where the card is.</p>
							  <button>Let me go here!</button>
							</div>
						  </div>
					</div>
				
				</div>
			</div>
		</div>
	</div>
</body>
{% endblock %}
