{% extends 'base.html' %}
{% block body %}
<div class="col">
	<div>
		<nav class="border fixed split-nav">
			<div class="nav-brand">
				<h3><a href="#">Planteria</a></h3>
			</div>
			<div class="collapsible">
				<input id="collapsible1" type="checkbox" name="collapsible1">
				<label for="collapsible1">
					<div class="bar1"></div>
					<div class="bar2"></div>
					<div class="bar3"></div>
				</label>
				<div class="collapsible-body">
					<ul class="inline">
						<li><a href="/signup">signup</a></li>
						<li><a href="#">login</a></li>
					</ul>
				</div>
			</div>
		</nav>	
	</div>
	
	<div class="paper">
		<div class="demo-title">
			<div class="row flex-center" style="height: 75vh;">
				<div class="text-center" style="vertical-align: middle;">
					<h1>Planteria</h1>
					<h3>syokubutu komyuniti-</h3>
				</div>
			</div>
		</div>
	</div>
</div>

{% endblock %}
